Repository zenangst/Family: changes, and which Codecov flags are due for each by the changed paths.
All: macOS, tvOS, iOS

codecov.yml:

ignore:
  - "Applications/Xcode.app/.*"
  - "bin"
  - "Example"
  - "Tests"
  - "Images"
  - "Info"
coverage:
  status:
    project:
      default: off
      macOS:
        flags: macOS
      tvOS:
        flags: tvOS
      iOS:
        flags: iOS
flags:
  macOS:
    paths:
      - Sources/macOS
      - Sources/Shared
  tvOS:
    paths:
      - Sources/iOS+tvOS
      - Sources/Shared
  iOS:
    paths:
      - Sources/iOS+tvOS
      - Sources/Shared

Clean up implementation
  Sources/macOS/Classes/FamilyScrollView.swift
Due: macOS

Bump version to 0.18.3
  Family.podspec
Due: none

Fix warnings
  Sources/macOS/Classes/FamilyScrollView.swift
Due: macOS

Minor fixes
  Sources/macOS/Classes/FamilyScrollView.swift
  Tests/Shared/FamilyViewControllerSharedTests.swift
Due: macOS

Improve setting background color to wrapper views
  Sources/macOS/Classes/FamilyViewController.swift
Due: macOS

Fix tests on macOS
  Sources/macOS/Classes/FamilyScrollView.swift
  Tests/Shared/FamilyViewControllerSharedTests.swift
Due: macOS

Fix iOS tests
  Tests/Shared/FamilyViewControllerSharedTests.swift
Due: none

Fix padding bug on tvOS
  Sources/iOS+tvOS/Classes/FamilyScrollView+tvOS.swift
Due: tvOS, iOS

Exclude collection views from offset adjustments
  Sources/macOS/Classes/FamilyScrollView.swift
Due: macOS

Bump version to 0.18.4
  Family.podspec
Due: none

Use round in `shouldScroll` condition
  Family.podspec
  Sources/iOS+tvOS/Classes/FamilyScrollView+iOS.swift
  Sources/iOS+tvOS/Classes/FamilyScrollView+tvOS.swift
  Sources/macOS/Classes/FamilyScrollView.swift
Due: macOS, tvOS, iOS

Improve layout algorithm on macOS
  Family.podspec
  Sources/macOS/Classes/FamilyClipView.swift
  Sources/macOS/Classes/FamilyScrollView.swift
Due: macOS

Fix a crash on iOS 10
  Sources/iOS+tvOS/Classes/FamilyWrapperView.swift
Due: tvOS, iOS

Run Xcode upgrade process
  Family.xcodeproj/project.pbxproj
  Family.xcodeproj/xcshareddata/xcschemes/Family-iOS.xcscheme
  Family.xcodeproj/xcshareddata/xcschemes/Family-macOS.xcscheme
  Family.xcodeproj/xcshareddata/xcschemes/Family-tvOS.xcscheme
Due: none

Refactor FamilyScrollView
  Sources/macOS/Classes/FamilyScrollView.swift
Due: macOS

Update Family.podspec
  Family.podspec
Due: none

Run Xcode migration
  Family.xcodeproj/project.pbxproj
Due: none

Update project and podspec to fix warning
  .swift-version
  Family.podspec
  Family.xcodeproj/project.pbxproj
Due: none

Fix rendering bug after previous optimization
  Family.podspec
  Sources/macOS/Classes/FamilyScrollView.swift
Due: macOS

Fix playground not working
  Family.xcodeproj/project.xcworkspace/xcshareddata/WorkspaceSettings.xcsettings
  Playground-iOS.playground/Contents.swift
  Playground-iOS.playground/timeline.xctimeline
  Playground-macOS.playground/Contents.swift
  Playground-macOS.playground/contents.xcplayground
  Playground-macOS.playground/timeline.xctimeline
Due: none

Initial commit for binary search optimization
  Example/FamilyDemo/FamilyDemo/Resources/Assets.xcassets/AppIcon.appiconset/Contents.json
  Example/FamilyDemo/FamilyDemo/Sources/Cell.swift
  Example/FamilyDemo/FamilyDemo/Sources/CollectionViewController.swift
  Example/FamilyDemo/FamilyDemo/Sources/ContainerController.swift
  Family.xcodeproj/project.pbxproj
  Sources/Shared/BinarySearch.swift
  Sources/Shared/FamilyCache.swift
  Sources/Shared/FamilyViewControllerAttributes.swift
  Sources/Shared/TypeAlias.swift
  Sources/iOS+tvOS/Classes/FamilyScrollView+iOS.swift
  Sources/iOS+tvOS/Classes/FamilyScrollView+tvOS.swift
  Sources/iOS+tvOS/Classes/FamilyScrollView.swift
  Sources/iOS+tvOS/Classes/FamilyViewController.swift
  Sources/macOS/Classes/FamilyScrollView.swift
  Tests/macOS/FamilyViewControllerTests.swift
Due: macOS, tvOS, iOS

Use attributes instead of entry
  Sources/macOS/Classes/FamilyScrollView.swift
Due: macOS

Improve viewControllerIsVisible and viewControllerIsFullyVisible
  Sources/iOS+tvOS/Classes/FamilyViewController.swift
  Sources/macOS/Classes/FamilyScrollView.swift
  Sources/macOS/Classes/FamilyViewController.swift
  Sources/macOS/Classes/FamilyWrapperView.swift
  Tests/macOS/FamilyViewControllerTests.swift
Due: macOS, tvOS, iOS

Add simple performance demo for iOS
  Example/FamilyDemo/FamilyDemo.xcodeproj/project.pbxproj
  Example/FamilyDemo/FamilyDemo.xcodeproj/xcshareddata/xcschemes/FamilyDemo.xcscheme
  Example/FamilyDemo/FamilyDemo/Sources/AppDelegate.swift
  Example/FamilyDemo/FamilyDemo/Sources/Cell.swift
  Example/FamilyDemo/FamilyDemo/Sources/CollectionViewController.swift
  Example/FamilyDemo/FamilyDemo/Sources/ContainerController.swift
  Example/FamilyDemo/Podfile.lock
Due: none

Fix minor regression on macOS
  Sources/macOS/Classes/FamilyScrollView.swift
Due: macOS

Improve lookup performance by using attributes
  Sources/Shared/FamilySpaceManager.swift
  Sources/iOS+tvOS/Classes/FamilyScrollView+iOS.swift
  Sources/iOS+tvOS/Classes/FamilyScrollView+tvOS.swift
Due: macOS, tvOS, iOS

Bump version to 0.19.0
  Family.podspec
Due: none

Improve use of binary search on tvOS
  Example/FamilyDemo/FamilyDemo/Info.plist
  Example/FamilyDemo/FamilyDemo/Sources/ContainerController.swift
  Example/FamilyDemo/Podfile.lock
  Sources/iOS+tvOS/Classes/FamilyScrollView+iOS.swift
  Sources/iOS+tvOS/Classes/FamilyScrollView+tvOS.swift
  Sources/iOS+tvOS/Classes/FamilyScrollView.swift
  Sources/iOS+tvOS/Classes/FamilyViewController.swift
Due: tvOS, iOS

Improve algorithm on iOS and tvOS
  Family.podspec
  Sources/iOS+tvOS/Classes/FamilyScrollView+iOS.swift
  Sources/iOS+tvOS/Classes/FamilyScrollView+tvOS.swift
  Sources/iOS+tvOS/Classes/FamilyScrollView.swift
  Sources/iOS+tvOS/Classes/FamilyViewController.swift
  Tests/Shared/FamilyViewControllerSharedTests.swift
Due: tvOS, iOS

Revert "Improve algorithm on iOS and tvOS"
  Family.podspec
  Sources/iOS+tvOS/Classes/FamilyScrollView+iOS.swift
  Sources/iOS+tvOS/Classes/FamilyScrollView+tvOS.swift
  Sources/iOS+tvOS/Classes/FamilyScrollView.swift
  Sources/iOS+tvOS/Classes/FamilyViewController.swift
  Tests/Shared/FamilyViewControllerSharedTests.swift
Due: tvOS, iOS

Update example
  Example/FamilyDemo/Podfile.lock
Due: none

Update implementation to work with transforms
  Sources/iOS+tvOS/Classes/FamilyScrollView+iOS.swift
  Sources/iOS+tvOS/Classes/FamilyScrollView+tvOS.swift
  Sources/iOS+tvOS/Classes/FamilyScrollView.swift
  Tests/Shared/FamilyViewControllerSharedTests.swift
Due: tvOS, iOS

Don't include equal when comparing shouldScroll
  Family.podspec
  Sources/iOS+tvOS/Classes/FamilyScrollView+iOS.swift
  Sources/iOS+tvOS/Classes/FamilyScrollView+tvOS.swift
Due: tvOS, iOS

Refactor and combine layout algorithms on iOS and tvOS
  Example/FamilyDemo/FamilyDemo/Sources/ContainerController.swift
  Example/FamilyDemo/Podfile.lock
  Family.podspec
  Family.xcodeproj/project.pbxproj
  Sources/iOS+tvOS/Classes/FamilyScrollView+iOS.swift
  Sources/iOS+tvOS/Classes/FamilyScrollView+tvOS.swift
  Sources/iOS+tvOS/Classes/FamilyScrollView.swift
Due: tvOS, iOS

Feature batch updates with custom animations
  Family.podspec
  Sources/Shared/FamilyFriendly.swift
  Sources/iOS+tvOS/Classes/FamilyViewController.swift
Due: macOS, tvOS, iOS

Improve macOS layout algorithm
  Family.podspec
  Sources/iOS+tvOS/Classes/FamilyScrollView.swift
  Sources/macOS/Classes/FamilyScrollView.swift
  Sources/macOS/Classes/FamilyViewController.swift
  Sources/macOS/Classes/FamilyWrapperView.swift
  Tests/Shared/FamilyViewControllerSharedTests.swift
Due: macOS, tvOS, iOS

Refactor FamilyWrapper view to get rid of delayedUpdate
  Sources/macOS/Classes/FamilyWrapperView.swift
Due: macOS

Bump version
  Family.podspec
Due: none

Wrap addChildren in performBatchUpdates
  Sources/iOS+tvOS/Classes/FamilyViewController.swift
  Sources/macOS/Classes/FamilyViewController.swift
Due: macOS, tvOS, iOS
