Repository zenangst/Family: changes, and which Codecov flags are due for each by the changed paths.
All: macOS, tvOS, iOS

codecov.yml:

ignore:
  - "Applications/Xcode.app/.*"
  - "bin"
  - "Example"
  - "Tests"
  - "Images"
  - "Info"
coverage:
  status:
    project:
      default: off
      macOS:
        flags: macOS
      tvOS:
        flags: tvOS
      iOS:
        flags: iOS
flags:
  macOS:
    paths:
      - Sources/macOS
      - Sources/Shared
  tvOS:
    paths:
      - Sources/iOS+tvOS
      - Sources/Shared
  iOS:
    paths:
      - Sources/iOS+tvOS
      - Sources/Shared

Improve internals in FamilyScrollView on iOS and tvOS
  Family.podspec
  Sources/iOS+tvOS/Classes/FamilyScrollView.swift
Due: tvOS, iOS

Invalidate the FamilyWrapperView rect
  Sources/macOS/Classes/FamilyWrapperView.swift
Due: macOS

Check if the FamilyScrollView is performing batch updates
  Sources/macOS/Classes/FamilyWrapperView.swift
Due: macOS

Remove invalidation when window is nil
  Sources/macOS/Classes/FamilyWrapperView.swift
Due: macOS

Bump version
  Family.podspec
Due: none

Set default duration to 0.0 in body method
  Family.podspec
  Sources/macOS/Classes/FamilyViewController.swift
Due: macOS

Fix faulty test
  Tests/Shared/FamilyViewControllerSharedTests.swift
Due: none

Add guards for when running batch updates
  Sources/macOS/Classes/FamilyScrollView.swift
Due: macOS

Add view cleanup method to macOS implementation
  Sources/macOS/Classes/FamilyScrollView.swift
Due: macOS

Add !isPerformingBatchUpdates checks
  Sources/iOS+tvOS/Classes/FamilyScrollView.swift
Due: tvOS, iOS

Always invalidate cache after batch updates
  Sources/iOS+tvOS/Classes/FamilyViewController.swift
Due: tvOS, iOS

Use rounded values
  Sources/Shared/FamilyViewControllerAttributes.swift
  Sources/iOS+tvOS/Classes/FamilyScrollView.swift
Due: macOS, tvOS, iOS

Never call runLayoutSubviewsAlgorithm directly
  Sources/iOS+tvOS/Classes/FamilyScrollView.swift
Due: tvOS, iOS

Improve layoutSubviews
  Sources/iOS+tvOS/Classes/FamilyScrollView.swift
Due: tvOS, iOS

Round more values
  Sources/iOS+tvOS/Classes/FamilyScrollView.swift
Due: tvOS, iOS

Bump version to 0.20.7
  Family.podspec
Due: none

Fix broken tests
  Sources/iOS+tvOS/Classes/FamilyScrollView.swift
  Tests/tvOS/FamilyScrollViewTests.swift
Due: tvOS, iOS

Run layoutViews if cache is empty
  Sources/iOS+tvOS/Classes/FamilyScrollView.swift
Due: tvOS, iOS

Add rounding patch to macOS implementation
  Sources/iOS+tvOS/Classes/FamilyScrollView.swift
  Sources/macOS/Classes/FamilyScrollView.swift
Due: macOS, tvOS, iOS

Add `layoutViews` guard
  Sources/macOS/Classes/FamilyScrollView.swift
Due: macOS

Remove newline
  Sources/macOS/Classes/FamilyScrollView.swift
Due: macOS

Move guard to layoutViews
  Sources/iOS+tvOS/Classes/FamilyScrollView.swift
Due: tvOS, iOS

Set previousContentOffset in setter for contentOffset
  Sources/iOS+tvOS/Classes/FamilyScrollView.swift
Due: tvOS, iOS

Scope performance fix to tvOS
  Sources/iOS+tvOS/Classes/FamilyScrollView.swift
Due: tvOS, iOS

Don't round parentContentOffset
  Sources/iOS+tvOS/Classes/FamilyScrollView.swift
Due: tvOS, iOS

Use stored value rather than live scroll view value
  Sources/iOS+tvOS/Classes/FamilyScrollView.swift
Due: tvOS, iOS

Simplify shouldScroll by using `intersects`
  Sources/iOS+tvOS/Classes/FamilyScrollView.swift
Due: tvOS, iOS

Add correction statement when scrolling
  Sources/iOS+tvOS/Classes/FamilyScrollView.swift
Due: tvOS, iOS

Bump version to 0.20.8
  Family.podspec
Due: none

Remove cleanup of invalid views
  Sources/iOS+tvOS/Classes/FamilyScrollView.swift
Due: tvOS, iOS

Round values to make a sane comparison
  Sources/iOS+tvOS/Classes/FamilyScrollView.swift
Due: tvOS, iOS

Update Family.podspec
  Family.podspec
Due: none

Add method for removing offscreen views
  Family.podspec
  Sources/iOS+tvOS/Classes/FamilyScrollView.swift
Due: tvOS, iOS

Remove debug code
  Sources/iOS+tvOS/Classes/FamilyScrollView.swift
Due: tvOS, iOS

Set clipsToBounds to true on document view
  Sources/iOS+tvOS/Classes/FamilyDocumentView.swift
Due: tvOS, iOS

Bump version to 0.20.11
  Family.podspec
Due: none

Improve contentOffset observer
  Sources/iOS+tvOS/Classes/FamilyScrollView.swift
Due: tvOS, iOS

Add .preferredFramesPerSecond60 for animations
  Sources/iOS+tvOS/Classes/FamilyScrollView.swift
Due: tvOS, iOS

Extract invalidation into a method
  Sources/iOS+tvOS/Classes/FamilyScrollView.swift
Due: tvOS, iOS
