Repository zenangst/Family: changes, and which Codecov flags are due for each by the changed paths.
All: macOS, tvOS, iOS

codecov.yml:

ignore:
  - "Applications/Xcode.app/.*"
  - "bin"
  - "Example"
  - "Tests"
  - "Images"
  - "Info"
coverage:
  status:
    project:
      default: off
      macOS:
        flags: macOS
      tvOS:
        flags: tvOS
      iOS:
        flags: iOS
flags:
  macOS:
    paths:
      - Sources/macOS
      - Sources/Shared
  tvOS:
    paths:
      - Sources/iOS+tvOS
      - Sources/Shared
  iOS:
    paths:
      - Sources/iOS+tvOS
      - Sources/Shared

Refactor layout pass optimization
  Sources/iOS+tvOS/Classes/FamilyScrollView.swift
Due: tvOS, iOS

Remove explicit invalidation in performBatchUpdates
  Sources/iOS+tvOS/Classes/FamilyViewController.swift
Due: tvOS, iOS

Add guard for setting same insets
  Sources/iOS+tvOS/Classes/FamilyScrollView.swift
Due: tvOS, iOS

Bump version to 0.21.0
  Family.podspec
Due: none

Scope rendering optimization to tvOS
  Sources/iOS+tvOS/Classes/FamilyScrollView.swift
Due: tvOS, iOS

Fix warning with oldValue
  Sources/iOS+tvOS/Classes/FamilyScrollView.swift
Due: tvOS, iOS

Bump version to 0.21.1
  Family.podspec
Due: none

Remove FamilyDocumentView
  Family.xcodeproj/project.pbxproj
  Sources/iOS+tvOS/Classes/FamilyDocumentView.swift
  Sources/iOS+tvOS/Classes/FamilyScrollView.swift
  Sources/iOS+tvOS/Classes/FamilyViewController.swift
  Sources/iOS+tvOS/Classes/FamilyWrapperView.swift
  Tests/iOS+tvOS/FamilyViewControllerTests.swift
  Tests/tvOS/FamilyScrollViewTests.swift
Due: tvOS, iOS

Add dynamic property for `isFastScrolling`
  Family.xcodeproj/project.pbxproj
  Sources/Shared/FamilyViewControllerAttributes.swift
  Sources/iOS+tvOS/Classes/FamilyScrollView.swift
  Sources/macOS/Classes/FamilyScrollView.swift
Due: macOS, tvOS, iOS

Bump version to 0.22.0
  Family.podspec
Due: none

Fix iOS implementation
  Sources/iOS+tvOS/Classes/FamilyScrollView.swift
  Tests/iOS/FamilyContentViewTests.swift
  Tests/iOS/FamilyScrollViewTests.swift
Due: tvOS, iOS

Fix iOS scroll indicator
  Sources/iOS+tvOS/Classes/FamilyScrollView.swift
Due: tvOS, iOS

Constrain max contentOffset and frame y
  Sources/iOS+tvOS/Classes/FamilyScrollView.swift
Due: tvOS, iOS

Bump version to 0.22.1
  Family.podspec
Due: none

Make `isFastScrolling` public
  Family.podspec
  Sources/iOS+tvOS/Classes/FamilyScrollView.swift
Due: tvOS, iOS

Improve search pattern for system views
  Family.podspec
  Sources/iOS+tvOS/Classes/FamilyScrollView.swift
Due: tvOS, iOS

Improve `addChild` method on macOS
  Sources/macOS/Classes/FamilyViewController.swift
Due: macOS

Improve using margins & padding with collection views
  Sources/macOS/Classes/FamilyClipView.swift
  Sources/macOS/Classes/FamilyScrollView.swift
Due: macOS

Bump version
  Family.podspec
Due: none

Remove previous content offset optimization
  Family.podspec
  Sources/iOS+tvOS/Classes/FamilyScrollView.swift
Due: tvOS, iOS

Add missing completion to performBatchUpdates
  Family.podspec
  Sources/iOS+tvOS/Classes/FamilyScrollView.swift
Due: tvOS, iOS

Add `UISelectionGrabberDot` to `isSystemView`
  Sources/iOS+tvOS/Classes/FamilyScrollView.swift
Due: tvOS, iOS

Update Family.podspec
  Family.podspec
Due: none

Feature FamilyScrollViewDelegate
  Family.podspec
  Sources/macOS/Classes/FamilyScrollView.swift
Due: macOS

Add FUNDING.yml
  FUNDING.yml
Due: none

Don't invoke layoutIfNeeded when batch updating
  Family.podspec
  Sources/iOS+tvOS/Classes/FamilyScrollView.swift
Due: tvOS, iOS

Call `layoutIfNeeded` in completion
  Sources/iOS+tvOS/Classes/FamilyViewController.swift
Due: tvOS, iOS

Refactor when to invalidate
  Sources/iOS+tvOS/Classes/FamilyScrollView.swift
Due: tvOS, iOS

Disable content observers when perform batch updates
  Sources/iOS+tvOS/Classes/FamilyScrollView.swift
  Sources/iOS+tvOS/Classes/FamilyViewController.swift
Due: tvOS, iOS

Optimize layoutViews by improving guard statement
  Sources/macOS/Classes/FamilyScrollView.swift
Due: macOS

Refactor scrollWheel(with event:)
  Sources/macOS/Classes/FamilyScrollView.swift
Due: macOS

Refactor scrollTo(_ point, in view: NSView)
  Sources/macOS/Classes/FamilyClipView.swift
  Sources/macOS/Classes/FamilyScrollView.swift
Due: macOS

Refactor layout algorithm
  Sources/macOS/Classes/FamilyScrollView.swift
Due: macOS

Fix caching bug
  Sources/macOS/Classes/FamilyScrollView.swift
  Sources/macOS/Classes/FamilyWrapperView.swift
Due: macOS

Force layoutViews when window resizes
  Sources/macOS/Classes/FamilyScrollView.swift
Due: macOS

Final fixes to fix tests
  Sources/macOS/Classes/FamilyScrollView.swift
  Sources/macOS/Classes/FamilyViewController.swift
  Sources/macOS/Classes/FamilyWrapperView.swift
  Tests/Shared/FamilyViewControllerSharedTests.swift
  Tests/macOS/FamilyScrollViewTests.swift
  Tests/macOS/FamilyViewControllerTests.swift
Due: macOS

Bump version to 0.22.10
  Family.podspec
Due: none

Reset isScrollingByProxy on .keyUp
  Sources/macOS/Classes/FamilyViewController.swift
Due: macOS

Update Travis osx_image to xcode11.3
  .travis.yml
Due: none

Update FamilyContentViewTests
  Tests/macOS/FamilyContentViewTests.swift
Due: none
