Repository zenangst/Family: changes, and which Codecov flags are due for each by the changed paths.
All: macOS, tvOS, iOS

Revert travis change
  .travis.yml
Due: none

Bump version to 0.22.11
  Family.podspec
Due: none

Add completion boolean to layoutViews
  Family.podspec
  Sources/iOS+tvOS/Classes/FamilyScrollView.swift
  Sources/iOS+tvOS/Classes/FamilyViewController.swift
Due: tvOS, iOS

Improve performance with large collection
  Family.podspec
  Sources/iOS+tvOS/Classes/FamilyScrollView.swift
Due: tvOS, iOS

Refactor previous optimization
  Family.podspec
  Sources/iOS+tvOS/Classes/FamilyScrollView.swift
  Sources/iOS+tvOS/Classes/FamilyViewController.swift
  Tests/iOS+tvOS/FamilyViewControllerTests.swift
Due: tvOS, iOS

Improve invalidation and scrolling performance
  Family.podspec
  Sources/Shared/FamilyCache.swift
  Sources/Shared/FamilyViewControllerAttributes.swift
  Sources/iOS+tvOS/Classes/FamilyScrollView.swift
  Sources/iOS+tvOS/Classes/FamilyViewController.swift
Due: macOS, tvOS, iOS

Remove extra newline
  Sources/iOS+tvOS/Classes/FamilyViewController.swift
Due: tvOS, iOS

Fix bugs with margins, padding and content size
  Family.podspec
  Sources/iOS+tvOS/Classes/FamilyScrollView.swift
Due: tvOS, iOS

Fix content size calculation by including padding and margins
  Sources/iOS+tvOS/Classes/FamilyScrollView.swift
Due: tvOS, iOS

Fix content size calculation by including padding and margins
  Family.podspec
Due: none

Fix margin error
  Family.podspec
  Sources/iOS+tvOS/Classes/FamilyScrollView.swift
Due: tvOS, iOS

Fix wrongly calculated content size
  Family.podspec
  Sources/iOS+tvOS/Classes/FamilyScrollView.swift
Due: tvOS, iOS

Improve rendering when user is scrolling fast on tvOS
  Family.podspec
  Sources/iOS+tvOS/Classes/FamilyScrollView.swift
Due: tvOS, iOS

Implement didSet on `FamilyScrollView.contentOffset`
  Sources/iOS+tvOS/Classes/FamilyScrollView.swift
Due: tvOS, iOS

Debug commit
  Sources/iOS+tvOS/Classes/FamilyScrollView.swift
Due: tvOS, iOS

Add safe-guard for setting delegate to nil on dealloc
  Family.podspec
  Sources/iOS+tvOS/Classes/FamilyScrollView.swift
Due: tvOS, iOS

- Improve setting paddings and margins when `adjustContentSize` is invoked - Fix layout recursion when using a `FamilyViewController` as a child view controller
  Family.podspec
  Sources/iOS+tvOS/Classes/FamilyScrollView.swift
  Sources/iOS+tvOS/Classes/FamilyViewController.swift
Due: tvOS, iOS

Refactor how to set content size height when using smart invalidation
  Family.podspec
  Sources/iOS+tvOS/Classes/FamilyScrollView.swift
Due: tvOS, iOS

Fix offscreen views not being rendered correctly
  Family.podspec
  Sources/iOS+tvOS/Classes/FamilyScrollView.swift
Due: tvOS, iOS

Improve the removal of child view controllers
  Family.podspec
  Family.xcodeproj/project.pbxproj
  Family.xcodeproj/xcshareddata/xcschemes/Family-iOS.xcscheme
  Family.xcodeproj/xcshareddata/xcschemes/Family-macOS.xcscheme
  Family.xcodeproj/xcshareddata/xcschemes/Family-tvOS.xcscheme
  Sources/iOS+tvOS/Classes/FamilyScrollView.swift
  Sources/iOS+tvOS/Classes/FamilyViewController.swift
Due: tvOS, iOS

Add support for UICollectionViewCompositionalLayout
  Sources/iOS+tvOS/Classes/FamilyScrollView.swift
Due: tvOS, iOS

Bump version to 1.1.0
  Family.podspec
Due: none

Add else case and fix variable warning
  Sources/iOS+tvOS/Classes/FamilyScrollView.swift
Due: tvOS, iOS

Change #available(iOS 13.0,*) to #available(tvOS 13.0, iOS 13.0,*)
  Sources/iOS+tvOS/Classes/FamilyScrollView.swift
Due: tvOS, iOS

Improve optional assignment
  Sources/iOS+tvOS/Classes/FamilyScrollView.swift
Due: tvOS, iOS

Use Xcode 11.6 on Travis
  .travis.yml
Due: none

Run tests on tvOS 13.4
  .travis.yml
Due: none

Fix tests running on tvOS
  Tests/iOS+tvOS/FamilyViewControllerTests.swift
Due: none

Fix warning on macOS
  Sources/macOS/Classes/FamilyScrollView.swift
Due: macOS

Fix collection view controllers life cycle issue
  Sources/iOS+tvOS/Classes/FamilyViewController.swift
Due: tvOS, iOS

Bump version to 1.1.1
  Family.podspec
Due: none

Update README.md
  README.md
Due: none

Update travis configuration
  .travis.yml
Due: none

Improve safe area granularity setup
  Sources/iOS+tvOS/Classes/FamilyViewController.swift
Due: tvOS, iOS

Add missing .swift-version file
  .swift-version
Due: none

Change travis image
  .travis.yml
Due: none

Update travis configuration for iOS and tvOS
  .travis.yml
Due: none

Change iOS from 13.4 to 13.5
  .travis.yml
Due: none

Update macOS tests
  Tests/Shared/FamilyViewControllerSharedTests.swift
Due: none

Refactor test
  Tests/Shared/FamilyViewControllerSharedTests.swift
Due: none

Path conditions:
  macOS: any of: Sources/macOS, Sources/Shared, but not: Applications/Xcode.app/.*, bin, Example, Tests, Images, Info
  tvOS: any of: Sources/iOS+tvOS, Sources/Shared, but not: Applications/Xcode.app/.*, bin, Example, Tests, Images, Info
  iOS: any of: Sources/iOS+tvOS, Sources/Shared, but not: Applications/Xcode.app/.*, bin, Example, Tests, Images, Info
