Repository zenangst/Family: changes, and which Codecov flags are due for each by the changed paths.
All: macOS, tvOS, iOS

codecov.yml:

ignore:
  - "Applications/Xcode.app/.*"
  - "bin"
  - "Example"
  - "Tests"
  - "Images"
  - "Info"
coverage:
  status:
    project:
      default: off
      macOS:
        flags: macOS
      tvOS:
        flags: tvOS
      iOS:
        flags: iOS
flags:
  macOS:
    paths:
      - Sources/macOS
      - Sources/Shared
  tvOS:
    paths:
      - Sources/iOS+tvOS
      - Sources/Shared
  iOS:
    paths:
      - Sources/iOS+tvOS
      - Sources/Shared

Fix collection view controller not getting any tap events
  Sources/iOS+tvOS/Classes/FamilyViewController.swift
Due: tvOS, iOS

Fix height not correctly resized when remove child
  Sources/iOS+tvOS/Classes/FamilyViewController.swift
  Sources/macOS/Classes/FamilyViewController.swift
  Tests/iOS+tvOS/FamilyViewControllerTests.swift
  Tests/macOS/FamilyViewControllerTests.swift
Due: macOS, tvOS, iOS

Refactor UICollectionViewController support
  Sources/iOS+tvOS/Classes/FamilyViewController.swift
Due: tvOS, iOS

Update Family.podspec
  Family.podspec
Due: none

Fix memory leak in `FamilyViewControllerAttributes`
  Family.podspec
  Sources/Shared/FamilyViewControllerAttributes.swift
Due: macOS, tvOS, iOS

Feature os_signpost
  Family.xcodeproj/project.pbxproj
  Sources/Shared/OSLogController.swift
  Sources/iOS+tvOS/Classes/FamilyScrollView.swift
  Sources/iOS+tvOS/Classes/FamilyViewController.swift
Due: macOS, tvOS, iOS

Add optimization based on os_signpost results
  Sources/Shared/OSSignpostController.swift
  Sources/iOS+tvOS/Classes/FamilyScrollView.swift
  Sources/iOS+tvOS/Classes/FamilyViewController.swift
Due: macOS, tvOS, iOS

Bump version to 2.1.0
  Family.podspec
Due: none

Fix broken link in Xcode project
  Family.xcodeproj/project.pbxproj
Due: none

Bump macOS deployment to 10.12
  Family.podspec
  Family.xcodeproj/project.pbxproj
Due: none

Bump deployment targets
  Family.podspec
Due: none

Fix memory leak in `FamilyViewController`
  Family.podspec
  Sources/iOS+tvOS/Classes/FamilyViewController.swift
Due: tvOS, iOS

Fix reloading issue when performing batch updates
  Family.podspec
  Sources/iOS+tvOS/Classes/FamilyViewController.swift
  Tests/iOS+tvOS/FamilyViewControllerTests.swift
Due: tvOS, iOS

Update syntax used in new batch update test
  Tests/iOS+tvOS/FamilyViewControllerTests.swift
Due: none

Add Swift Package Manager support
  .swiftpm/xcode/package.xcworkspace/contents.xcworkspacedata
  Package.swift
  Sources/Shared/FamilyCache.swift
  Sources/Shared/FamilyFriendly.swift
  Sources/Shared/FamilySpaceManager.swift
  Sources/Shared/FamilyViewControllerAttributes.swift
  Sources/iOS+tvOS/Classes/FamilyScrollView.swift
  Sources/iOS+tvOS/Classes/FamilyViewController.swift
  Sources/iOS+tvOS/Classes/FamilyWrapperView.swift
  Sources/iOS+tvOS/Extensions/UIViewController+Extensions.swift
  Sources/macOS/Classes/FamilyWrapperView.swift
Due: macOS, tvOS, iOS

Fix macOS compilation and add test target
  .swiftpm/xcode/xcshareddata/xcschemes/Family-Mobile.xcscheme
  .swiftpm/xcode/xcshareddata/xcschemes/Family-Package.xcscheme
  .swiftpm/xcode/xcshareddata/xcschemes/Family-Shared.xcscheme
  .swiftpm/xcode/xcshareddata/xcschemes/Family-macOS.xcscheme
  .swiftpm/xcode/xcshareddata/xcschemes/iOS+tvOS-Tests.xcscheme
  .swiftpm/xcode/xcshareddata/xcschemes/iOS-Tests.xcscheme
  .swiftpm/xcode/xcshareddata/xcschemes/macOS-Tests.xcscheme
  Package.swift
  Sources/iOS+tvOS/Extensions/CALayer+Extensions.swift
  Sources/macOS/Classes/FamilyDocumentView.swift
  Sources/macOS/Classes/FamilyScrollView.swift
  Sources/macOS/Classes/FamilyViewController.swift
  Sources/macOS/Classes/FamilyWrapperView.swift
  Sources/macOS/Extensions/NSScrollView+Extensions.swift
  Sources/macOS/Extensions/NSViewController+Extensions.swift
  Tests/Shared/CALayerExtensionTests.swift
  Tests/iOS+tvOS/CALayerExtensionTests.swift
  Tests/iOS+tvOS/FamilyViewControllerSharedTests.swift
  Tests/iOS+tvOS/FamilyViewControllerTests.swift
  Tests/iOS/FamilyContentViewTests.swift
  Tests/iOS/FamilyScrollViewTests.swift
  Tests/iOS/FamilyWrapperViewTests.swift
  Tests/macOS/FamilyContentViewTests.swift
  Tests/macOS/FamilyScrollViewTests.swift
  Tests/macOS/FamilyViewControllerSharedTests.swift
  Tests/macOS/FamilyViewControllerTests.swift
  Tests/macOS/FamilyWrapperViewTests.swift
  Tests/macOS/NSScrollViewExtensionsTests.swift
Due: macOS, tvOS, iOS

Fix demo project & configure travis
  .swiftpm/xcode/xcshareddata/xcschemes/Family-Mobile.xcscheme
  .swiftpm/xcode/xcshareddata/xcschemes/Family-Package.xcscheme
  .swiftpm/xcode/xcshareddata/xcschemes/Family-Shared.xcscheme
  .swiftpm/xcode/xcshareddata/xcschemes/Family-macOS.xcscheme
  .swiftpm/xcode/xcshareddata/xcschemes/iOS+tvOS-Tests.xcscheme
  .swiftpm/xcode/xcshareddata/xcschemes/iOS-Tests.xcscheme
  .swiftpm/xcode/xcshareddata/xcschemes/macOS-Tests.xcscheme
  .travis.yml
  Example/FamilyDemo/FamilyDemo.xcodeproj/project.pbxproj
  Example/FamilyDemo/FamilyDemo.xcodeproj/project.xcworkspace/xcshareddata/IDEWorkspaceChecks.plist
  Example/FamilyDemo/FamilyDemo.xcodeproj/xcshareddata/xcschemes/FamilyDemo.xcscheme
  Example/FamilyDemo/FamilyDemo.xcworkspace/contents.xcworkspacedata
  Example/FamilyDemo/FamilyDemo/Sources/AppDelegate.swift
  Example/FamilyDemo/FamilyDemo/Sources/ContainerController.swift
  Example/FamilyDemo/Podfile
  Example/FamilyDemo/Podfile.lock
Due: none

Update travis configuration
  .travis.yml
Due: none

Remove xcodeproj and fix tests
  Family.xcodeproj/project.pbxproj
  Family.xcodeproj/project.xcworkspace/contents.xcworkspacedata
  Family.xcodeproj/project.xcworkspace/xcshareddata/IDEWorkspaceChecks.plist
  Family.xcodeproj/project.xcworkspace/xcshareddata/WorkspaceSettings.xcsettings
  Family.xcodeproj/xcshareddata/xcschemes/Family-iOS.xcscheme
  Family.xcodeproj/xcshareddata/xcschemes/Family-macOS.xcscheme
  Family.xcodeproj/xcshareddata/xcschemes/Family-tvOS.xcscheme
  Tests/macOS/FamilyViewControllerSharedTests.swift
Due: none

Fix master rebase
  Package.swift
  Sources/Shared/OSSignpostController.swift
Due: macOS, tvOS, iOS

Improve batch updating in FamilyViewController
  Sources/iOS+tvOS/Classes/FamilyScrollView.swift
  Sources/iOS+tvOS/Classes/FamilyViewController.swift
Due: tvOS, iOS

Add support for Swift Package Manager
  Family.podspec
  Package.swift
  Sources/AppKit/FamilyClipView.swift
  Sources/AppKit/FamilyDocumentView.swift
  Sources/AppKit/FamilyScrollView+AppKit.swift
  Sources/AppKit/FamilyViewController+AppKit.swift
  Sources/AppKit/FamilyWrapperView+AppKit.swift
  Sources/AppKit/NSScrollView+Extensions.swift
  Sources/AppKit/NSViewController+Extensions.swift
  Sources/UIKit/CALayer+Extensions.swift
  Sources/UIKit/FamilyScrollView.swift
  Sources/UIKit/FamilyViewController.swift
  Sources/UIKit/FamilyWrapperView.swift
  Sources/UIKit/UIViewController+Extensions.swift
  Tests/AppKit/FamilyContentViewTests+AppKit.swift
  Tests/AppKit/FamilyScrollViewTests+AppKit.swift
  Tests/AppKit/FamilyViewControllerTests+AppKit.swift
  Tests/AppKit/FamilyWrapperViewTests+AppKit.swift
  Tests/AppKit/NSScrollViewExtensionsTests+AppKit.swift
  Tests/Info-iOS-Tests.plist
  Tests/Info-macOS-Tests.plist
  Tests/Info-tvOS-Tests.plist
  Tests/Shared/CALayerExtensionTests.swift
  Tests/Shared/FamilyViewControllerSharedTests.swift
  Tests/UIKit/FamilyContentViewTests.swift
  Tests/UIKit/FamilyViewControllerTests.swift
  Tests/UIKit/FamilyWrapperViewTests.swift
  Tests/iOS/FamilyScrollViewTests.swift
  Tests/tvOS/FamilyScrollViewTests.swift
  Tests/tvOS/tvOSTests.swift
Due: none

Sync package version with CocoaPods
  Package.swift
Due: none

Remove Xcode project
  Family.xcodeproj/project.pbxproj
  Family.xcodeproj/project.xcworkspace/contents.xcworkspacedata
  Family.xcodeproj/project.xcworkspace/xcshareddata/IDEWorkspaceChecks.plist
  Family.xcodeproj/project.xcworkspace/xcshareddata/WorkspaceSettings.xcsettings
  Family.xcodeproj/xcshareddata/xcschemes/Family-iOS.xcscheme
  Family.xcodeproj/xcshareddata/xcschemes/Family-macOS.xcscheme
  Family.xcodeproj/xcshareddata/xcschemes/Family-tvOS.xcscheme
Due: none

Update gitignore
  .gitignore
Due: none

Bump versions on Travis
  .travis.yml
Due: none

Update .travis.yml
  .swift-version
  .travis.yml
Due: none

Update .travis.yml
  .travis.yml
Due: none

Use osx_image: xcode12.2
  .travis.yml
Due: none

Bump simulator versions
  .travis.yml
Due: none

Refactor performBatchUpdates implementation
  Family.podspec
  Sources/UIKit/FamilyScrollView.swift
  Sources/UIKit/FamilyViewController.swift
Due: none

Only invoke signposting when it is set to be enabled
  Family.podspec
  Sources/UIKit/FamilyScrollView.swift
  Sources/UIKit/FamilyViewController.swift
Due: none

- Remove signposting code - Apply fix when using compositional layouts - Bump version to 2.2.3 - Fix warning with using the `class` keyword instead of `AnyObject` on the `FamilyFriendly` protocol
  Family.podspec
  Sources/Shared/FamilyFriendly.swift
  Sources/UIKit/FamilyScrollView.swift
  Sources/UIKit/FamilyViewController.swift
Due: macOS, tvOS, iOS

update: build passed with xcode13
  Example/FamilyDemo/FamilyDemo.xcodeproj/project.pbxproj
  Example/FamilyDemo/FamilyDemo.xcodeproj/xcshareddata/xcschemes/FamilyDemo.xcscheme
  Example/FamilyDemo/FamilyDemo/Sources/ContainerController.swift
  Example/FamilyDemo/Podfile.lock
  Sources/UIKit/FamilyScrollView.swift
Due: none
